#title {
    color: white;
    font-family: Times New Roman, sans-serif;
    text-align: center;
    font-size: 35px;
    padding: 15px;
}

#subtitle {
    color: #7dc9ff;
    font-family: Times New Roman, sans-serif;
    text-align: left;
    font-size: 15px;
    padding: 15px;
}

#thedata {
    color: white;
}

    body {
        background-color: black;
    }

    html {
        scroll-behavior: smooth;
      }