#title {
    color: white;
    font-family: Times New Roman, sans-serif;
    text-align: center;
    font-size: 35px;
    padding: 15px;
}

#subtitle {
    color: #3385ff;
    font-family: Times New Roman, sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 3px;
}

#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#thedata {
    color: white;
}

    body {
        background-color: black;
    }

    html {
        scroll-behavior: smooth;
      }